[submodule "external/GLFW"]
	path = external/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/FFmpeg"]
	path = external/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
